// Mixins in here

// flex display
.flexdisplay (@Direction) {
    display       : flex;
    flex-direction: @Direction;
}

// paragraph styles

.pStyles() {
    line-height: 1.5;
    font-size  : 1.6rem;
}