// Mixins in here

// component margins
.componentMargin() {
    max-width: 800px;
    width    : 100%;
    margin   : 0 auto;
}

// flex display
.flexdisplay(@Direction) {
    display       : flex;
    flex-direction: @Direction;
}

// paragraph styles

.pStyles() {
    line-height: 1.5;
    font-size  : 1.6rem;
    font-weight: 600;
}

// button styles

.buttonStyles(@textalign, @fontweight) {
    border          : 2px solid @navigation-border;
    margin-right    : 2em;
    padding         : 1.5rem 4rem;
    text-align      : @textalign;
    border-radius   : 20px;
    background-color: @button-bg;
    font-size       : 2rem;
    font-weight     : @fontweight;
    color           : @white;
}