// Navigation Styles here
.headernav {
    .flexdisplay(row);
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    border-bottom: 2px dashed silver;
    padding: 2rem 27.5rem;

    a {
        text-decoration: none;
        .pStyles();
        color: @font-color;
        margin-right: 4rem;
    }
}